.container{
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    font-family: 'Anton';
}
#mainimg{
    width:50%;
    filter:blur(3px);
}
.kartu{
    width: 270px;
    height: 400px;
    border:1px solid gainsboro;
    border-radius: 5px;
    margin: 30px 70px;
    padding: 4px;
    box-shadow: 0 10px 20px
                 rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.kartu:hover{
    box-shadow: 0 10px 20px
                 rgba(255,255,255,0.19), 0 6px 6px rgba(240, 236, 26, 0.562);
}
#kartu_a{
    float: left;
    margin-left: 110px;
}
#kartu_b{
    float: left;
}
#kartu_c{
    float: left;
}
.kartu-gb{
    width:95%;
    height: 70%;
    /* border:1px solid gainsboro; */
    margin:5px 0px 0px 5px;
}
img{
    width:256px;
    height: 280px;
}
.judul{
    width:97%;
    height:10%;
    background-color: rgba(0, 100, 0, 0.603);
    margin:10px 0px 0px 5px;
    padding: 1px 0px 0px 15px;
}
.subjudul{
    width:97%;
    height:30px;
    background-color: rgba(247, 172, 8, 1);
    margin-left:5px;
    padding-left: 15px;
}
h2{
    font-size: 17px;
    color: azure;
    /* padding: 1px 0px 1px 5px; */
    position: relative;
    bottom: 3px;
}
h3{
    font-size: 13px;
    color: azure;
    position: relative;
    top: 6px;
}